body{
    font-family: 'Archivo', sans-serif;
}

.container{
    border: 3px solid red;
    width: 1000px;
    height: 900px;
}

.header{
    position: absolute;
}

nav{
   display: inline block;
   background-color: #222931;
   width: 950px;
   height: 30px;
   padding-top: 20px;
}

.header nav > a{
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.mainHeader > img{
   width: 1000px;
    position: relative;
    top: 70px;
    z-index: -1;
}

.mainHeader img:hover{
    color:  gray;
    opacity: 0.5;
    transition: 2s;
}

.bannerItems > img{
    position: relative;
    top: 100px;
    left: 90px;
    padding-left: 10px;
    width: 250px;
}

.ribbon{
    border: 2px solid red;
    background-color: #ffe718;
    height: 40px;
}

.ribbon > p{
    display: inline;
    position: relative;
    
}